/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-red: hsl(0, 66%, 54%);

  --clr-green-200: hsl(148, 38%, 91%);
  --clr-green-600: hsl(169, 82%, 27%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-500: hsl(186, 15%, 59%);
  --clr-grey-900: hsl(187, 24%, 22%);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  background-color: var(--clr-green-200);
  color: var(--clr-grey-900);
  min-height: 100vh;

  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Typography          */
/* ------------------- */

.heading,
.contact-form__heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1px;
}

.body-m-bold,
.submit-btn {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.body-m,
input,
textarea {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.body-s,
label,
legend {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* ------------------- */
/* General classes     */
/* ------------------- */

.green200 {
  color: var(--clr-green-200);
}

.error {
  color: var(--clr-red);
  margin-top: 8px;
}

.error-border {
  border-color: var(--clr-red);
}

.flex {
  display: flex;
  gap: 8px;
}

.hidden {
  display: none;
}

/* ------------------- */
/* Form Elements       */
/* ------------------- */

/* label */
label,
legend {
  padding-left: 0px;
  cursor: pointer;
}

label span,
legend span {
  color: var(--clr-green-600);
}

/* Input and Textarea */
input,
textarea {
  width: 100%;
  padding: 12px 24px;
  margin-top: 8px;
  border: 1px solid var(--clr-grey-500);
  border-radius: 8px;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
  border: 1px solid var(--clr-green-600);
  outline-color: var(--clr-green-600);
  outline: 4px;
  background-color: var(--clr-white);
}

/* Radio Buttons       */

.radio-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding: 12px 24px;
  margin-top: 16px;
  border: 1px solid var(--clr-grey-500);
  border-radius: 12px;
}

.radio-group:hover {
  border: 1px solid var(--clr-green-600);
}
.radio-group:focus,
.radio-group:active {
  background-color: var(--clr-green-200);
}

.radio-group:has(input[type='radio']:checked) {
  background-color: var(--clr-green-200);
}

.radio-group input,
.contact-form__consent input {
  width: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset label {
  display: flex;
  align-items: center;
}

input[type='radio'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #0c7d69;
  width: 24px;
  height: 24px;
  border: 0.15em solid var(--clr-green-200);
  border-radius: 50%;
  padding: 0;
  position: absolute;
}

input[type='radio'] + svg {
  width: 24px;
  height: 24px;
  z-index: 1;
  margin-right: 12px;
}

input[type='radio']:checked + svg path {
  fill: #0c7d69;
}

/* Checkbox             */

input[type='checkbox'] {
  appearance: none;
  margin: 0px;
  font: inherit;
  width: 18px;
  height: 18px;
  border: 0.15em solid var(--clr-grey-500);
  border-radius: 0px;
  padding: 0px;
  position: absolute;
  flex-shrink: 0;
}

input[type='checkbox'] + svg {
  width: 18px !important;
  height: 18px;
  z-index: 2;
  visibility: hidden;
  flex-shrink: 0;
}

input[type='checkbox']:checked {
  border: 0.15em solid #0c7d69;
}

input[type='checkbox']:checked + svg path {
  fill: #0c7d69;
  visibility: visible;
  stroke: white;
}

label p {
  margin-left: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

/* ------------------- */
/* Layout              */
/* ------------------- */

.contact-form {
  background-color: var(--clr-white);
  width: 100%;
  margin: auto;
  padding: 24px;
  border-radius: 16px;
  margin: 32px 16px;
}

.contact-form__heading {
  margin-bottom: 32px;
}

.contact-form__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form__consent {
  margin: 40px 3px;
}

.submit-btn {
  color: var(--clr-white);
  background-color: var(--clr-green-600);
  width: 100%;
  padding: 16px 40px;
  border-radius: 16px;
  border: none;
}
.submit-btn:hover {
  background-color: hsl(169, 82%, 17%);
}

/* Success Message */
.success {
  position: absolute;
  top: 24px;
  margin-inline: 24px;
  padding: 24px;
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  border-radius: 12px;
}

/* Responsive Design */
@media (min-width: 768px) {
  .contact-form {
    max-width: 690px;
    padding: 40px;
    margin: 128px auto;
  }

  .med-2col {
    display: flex;
    gap: 16px;
  }

  .success {
    margin-inline: 24px;
  }
}

@media (min-width: 1024px) {
  .contact-form {
    max-width: 736px;
  }
}

/* Target autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--clr-white) inset; /* Background color */
  -webkit-text-fill-color: var(--clr-grey-900); /* Text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent background color from resetting */
}
